task_4/weapon_categories_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:complexType name="CategoryType">
        <xs:attribute name="categoryName" type="xs:string"/>
        <xs:attribute name="numberOfWeapons" type="xs:integer"/>
    </xs:complexType>
    
    <xs:element name="categories">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="category" type="CategoryType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>